#logo {
  width: 100%;
  max-width: 300px;
}

body {
  background-image: url(/background.jpg);
  background-size: cover;
}

#what {
  background: yellow;
  text-align: center;
}

/*form*/

.form {
  background-color: white;
  opacity: 50%;
  margin-top: 40px;
}
